/*Page - Workout Management */
table#daysago {
	border:1px solid black;
	text-align:center;
	border-collapse:collapse;
	margin-top:4px;
}

div.wm-attr-manager-div {
	
}

div.wm-attr-manager-container {
	width:50vw;
	position:relative;
}

div.wm-attr-manager-container > div {
	display:block;
	border:1px solid black;
	box-sizing:border-box;
	width:70%;
	height:5vh;
	line-height:5vh;
	position:absolute;
	cursor:move;
}

div.wm-attr-manager-container > div.editable > input {
	pointer-events:auto;
	border:2px ridge lightgreen;
}

div.wm-attr-manager-container > div > input {
	pointer-events:none;
	border:none;
}

div.wm-attr-manager-container > div > i {
	display:none;
}

div.wm-attr-manager-container > div:hover > i,div.wm-attr-manager-container > div.editable > i {
	float:right;
	display:inline-block;
	margin-right:5px;
	cursor:pointer;
}

table.workout-management-table {
	width:100%;
	font:12px/18px Arial, Sans-serif;
	color:#333;
	background-color:#fff;
	border-spacing:0;
	margin:10px 0 15px;
	text-align:left;
}

table.workout-management-table > thead > tr > th {
	-webkit-user-select:none;
	font:bold 12px/18px Arial, Sans-serif;
	color:#000;
	background-color:#fff;
	border-collapse:collapse;
	border-bottom:#ccc 2px solid;
	cursor:pointer;
	white-space:normal;
}

table.workout-management-table > thead > tr > th.sortedby {
	border-bottom:#000 2px solid;
}

table.workout-management-table > thead > tr > th > i {
	padding:4px;
	float:right;
}

table.workout-management-table > tbody > tr > td {
	border-bottom:#ccc 1px solid;
	padding:4px;
	vertical-align:top;
}

table.workout-management-table > tbody > tr.odd > td {
	background-color:#dfdfdf;
}

table.workout-management-table > tbody > tr.even > td {
	background-color:#efefef;
}

table.workout-management-table > tbody > tr:hover > td,
table.workout-management-table > tbody > tr.odd > td:hover,
table.workout-management-table > tbody > tr.even > td:hover {
	background: #fff;
	color: #000;
}

input.workout-management-table-input,select.workout-management-table-select {
	padding:4px;
	width:100%;
	background-color:inherit;
	border:none;
	font-size:inherit;
	font:inherit;
	display:block;
	box-sizing:border-box;
}

input.workout-management-table-input-toggles {
	padding:4px;
	width:30px;
	background-color:inherit;
	border:none;
	font-size:inherit;
	font:inherit;
	display:block;
	box-sizing:border-box;
}

textarea.workout-management-table-comments {
	background-color:inherit;
	border:none;
	resize:none;
	width:100%;
	padding:0;
	margin:0;
	font-size:inherit;
	font:inherit;
	box-sizing:border-box;
}

td.inputok {
	position:relative;
}

tr:hover > td.inputok > div > div.workout-management-table-delete-container {
	display:block;
}

div.workout-management-table-delete-container {
	display:none;
	background-color:inherit;
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
}

div.workout-management-loading-div {
	width:100%;
	box-sizing:border-box;
	padding:5%;
	text-align:center;
}